.fondo-oscuro {
    background-color: black;
}

.fondo-claro {
    background-color: beige;
}

.crecer-letra {
    font-size: 2em
}

.crecer-uno {
    font-size: 1.5em
}

.fondo-azul {
    background-color: #00abbc;
}

.fondo-gris {
    background-color: #D9D9D9;
}

.fondo-azul-oscuro {
    background-color: #0A1469;
}

.navbar {
    background-color: #00abbc !important;
}

.navbar-text,
.navbar-brand,
.nav-link {
    color: white !important;
}

.container-text-center {
    display: grid;
    place-items: center;
    /* Centra horizontal y verticalmente */
    background-color: #bebebe;
    padding: 20px;
    /* Agrega espacio alrededor del contenido */
    border-radius: 20px;
    /* Agrega esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Agrega una sombra */
}

.container-text-center-prioritario {
    display: grid;
    place-items: center;
    /* Centra horizontal y verticalmente */
    background-color: red;
    padding: 20px;
    /* Agrega espacio alrededor del contenido */
    border-radius: 20px;
    /* Agrega esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Agrega una sombra */
}

/* Estilos para el contenido dentro del grid */
.content {
    text-align: center;
    /* Centra el texto horizontalmente */
    color: #fff;
    /* Cambia el color del texto a blanco */
}

.square {
    width: 100vw;
    height: 100vw;
    max-width: 100vh;
    max-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
}

body {
    margin: 0;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0ede19;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}



.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e6152a;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}

.soporteimagen {
    position: fixed;
    /* Colocar la imagen de forma fija en la página */
    bottom: 10px;
    /* Distancia desde la parte inferior de la página */
    right: 10px;
    /* Distancia desde el lado derecho de la página */
    width: 50px;
    height: 50px;
    background-color: #989898;
    /* Color de fondo */
    border-radius: 50%;
    /* Redondear la imagen (para que sea un círculo) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Agregar una sombra */
    cursor: pointer;
    /* Cambiar el cursor al pasar sobre la imagen */
}

.soporteimagen:hover {
    transform: scale(1.1);
    /* Escalar la imagen al pasar sobre ella */
}

.btn-btn-primary{
    color: #0ede19;
}

.btn-cancel{
    color: red;
}